body {
    font-family: Arial, sans-serif;
    background-color: #03e92f;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  h1 {
    color: #000;
    text-align: center;
  }
  p {
    font-size: 20px;

  } 
  .error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .error {
    font-size: 20px;
    color: #000
  }